
.page-head{
font-size: 30px;
font-family: cursive;
font-weight: bold;
padding: 25px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#4AD4BE;
}

.container {
    top: 50%;
    left: 50%;
    
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 256px;
    text-align: center;
    border: 10px solid black;
    background-color: black;
    border-radius: 5px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

.functionalkeys{
    background-color: orange;
    color: black;
}

input[type='text'] {
    height: 75px;
    width: 249px;
    background-color:white  ;
    border: 0px;
    text-align: right;
    border-radius: 23px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: cursive;
    font-size: 41px;
}
input:focus,
input:active,
button:focus,
button:active{
    outline: none;

}

#clear {
    grid-column: 1/3;
    grid-row: 1;
   
}

#result {
    grid-column: 3/5;
    grid-row:5;
}
#backspace{
   
}
button{
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: grey;
    color: #ffffff;
    font-weight: 500;
    font-family: cursive;
    font-size: 22px;
    border-radius: 35px;

}
